<div class="row">
    <h3>{{title}}</h3>
    <div class="col-md-12 column">

        <!--1764796-->
        <div class="col-sm-12" style="margin-bottom: 15px;line-height: 30px;">
            <div style="padding: 10px;background: #F5F5F5;border: 1px solid #c1c1c1; " class="col-sm-offset-4 col-sm-4">
                <label for="title" class="col-sm-4 control-label">豆瓣数据id</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="douban" name="douban" />
                </div>
            </div>
        </div>

        <form class="form-horizontal" role="form" method="post" action="/admins">
            <input type="hidden" id="id" name="id" value="{{movie.id}}" >
            <input type="hidden" id="createTime" name="createTime" value="{{movie.createTime}}" >
            <input type="hidden" id="category_id" name="category_id" value="{{movie.categoryId}}" >

            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">电影名称</label>
                <div class="col-sm-10">
                    <input type="text" value="{{movie.title}}" class="form-control" id="title" name="title" />
                </div>
            </div>
            <div class="form-group">
                <label for="country" class="col-sm-2 control-label">电影国家</label>
                <div class="col-sm-10">
                    <input type="text" value="{{movie.country}}" class="form-control" id="country" name="country" />
                </div>
            </div>
            <div class="form-group">
                <label for="language" class="col-sm-2 control-label">电影语言</label>
                <div class="col-sm-10">
                    <input type="text" value="{{movie.language}}" class="form-control" id="language" name="language" />
                </div>
            </div>
            <div class="form-group">
                <label for="year" class="col-sm-2 control-label">电影年份</label>
                <div class="col-sm-10">
                    <input type="text" value="{{movie.year}}" class="form-control" id="year" name="year" />
                </div>
            </div>
            <div class="form-group">
                <label for="flash" class="col-sm-2 control-label">电影地址</label>
                <div class="col-sm-10">
                    <input type="text" value="{{movie.flash}}" class="form-control" id="flash" name="flash" />
                </div>
            </div>
            <div class="form-group">
                <label for="poster" class="col-sm-2 control-label">电影封面</label>
                <div class="col-sm-10">
                    <input type="text" value="{{movie.poster}}" class="form-control" id="poster" name="poster" />
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="col-sm-2 control-label">电影票价</label>
                <div class="col-sm-10">
                    <input type="text" value="{{movie.price}}" class="form-control" id="price" name="price" />
                </div>
            </div>
            <div class="form-group">
                <label for="doctor" class="col-sm-2 control-label">电影导演</label>
                <div class="col-sm-10">
                    <input type="text" value="{{movie.doctor}}" class="form-control" id="doctor" name="doctor" />
                </div>
            </div>
            <div class="form-group">
                <label for="summary" class="col-sm-2 control-label">电影简介</label>
                <div class="col-sm-10">
                    <textarea rows="7" class="form-control" id="summary" name="summary" style="width: 100%">{{movie.summary}}</textarea>
                    <!--<input type="text" value="{{movie.summary}}" class="form-control" id="summary" name="summary" />-->
                </div>
            </div>


            <div class="form-group">
                <label for="summary" class="col-sm-2 control-label">电影分类</label>
                <div class="col-sm-10">
                    <select name="categoryId" id="categoryId" class="form-control">
                        {{#each categorys}}
                                <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="../javascripts/admins.js"></script>