
<div class="row">



    <div class="col-md-12"><h1>{{title}}</h1></div>


    {{#each categorys}}
        <div class="col-md-12">
            <h3>{{name}}</h3>
        </div>
    {{/each}}



    <!--<div class="col-md-12" style="padding: 0px;">-->
        <!--{{#each movies}}-->
            <!--<div class="col-md-3" style=" text-align: center;">-->
                <!--<div style="padding: 10px;border: 1px solid #c1c1c1;">-->
                    <!--<div><img src="{{poster}}" style="width: 100%;height: 300px;"></div>-->
                    <!--<div>{{title}}</div>-->
                    <!--<div><a href="./detail/{{id}}" class="btn btn-primary">立即观看</a></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--{{/each}}-->
    <!--</div>-->
</div>




